<!-- computers_fields.html -->
<div>
    <label>Type:</label>
    <input type="text" name="type" placeholder="Type">
</div>
<div>
    <label>Brand:</label>
    <input type="text" name="brand" placeholder="Brand">
</div>
<div>
    <label>Model:</label>
    <input type="text" name="model" placeholder="Model">
</div>
<div>
    <label>Year:</label>
    <input type="number" name="year" placeholder="Year">
</div>
<div>
    <label>Processor:</label>
    <input type="text" name="processor" placeholder="Processor">
</div>
<div>
    <label>RAM:</label>
    <input type="text" name="ram" placeholder="RAM">
</div>
<div>
    <label>Storage:</label>
    <input type="text" name="storage" placeholder="Storage">
</div>
<div>
    <label>Graphics Card:</label>
    <input type="text" name="graphics_card" placeholder="Graphics Card">
</div>
<div>
    <label>Operating System:</label>
    <input type="text" name="operating_system" placeholder="Operating System">
</div>
