<!-- vehicles_fields.html -->
<div>
    <label>Type:</label>
    <input type="text" name="type" placeholder="Type">
</div>
<div>
    <label>Brand:</label>
    <input type="text" name="brand" placeholder="Brand">
</div>
<div>
    <label>Model:</label>
    <input type="text" name="model" placeholder="Model">
</div>
<div>
    <label>Year:</label>
    <input type="text" name="year" placeholder="Year">
</div>
<div>
    <label>Color:</label>
    <input type="text" name="color" placeholder="Color">
</div>
<div>
    <label>Engine Displacement:</label>
    <input type="text" name="engine_displacement" placeholder="Engine Displacement">
</div>
<div>
    <label>Fuel Type:</label>
    <input type="text" name="fuel_type" placeholder="Fuel Type">
</div>
<div>
    <label>Transmission Type:</label>
    <input type="text" name="transmission_type" placeholder="Transmission Type">
</div>
<div>
    <label>Mileage:</label>
    <input type="text" name="mileage" placeholder="Mileage">
</div>
